.card {
    height: 15rem;
    width: 10rem;
    perspective: 100rem;
    position: relative;
    
    &__side {
      height: 100%;
      width: 100%;
      color: white;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 700ms ease;
      backface-visibility: hidden;
      
      &--front {
        background-color: #E83151;
      }
      
      &--back {
        background-color: #525B6B;
        transform: rotateY(180deg);
      }
    }
    
    &:hover &__side--front {
      transform: rotateY(-180deg);
    }
    
    &:hover &__side--back {
      transform: rotateY(0);
    }
  }
  
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }